 

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
a {
  text-decoration: none;
}
li a {
  text-decoration: underline;
  color: #0288d1;
}
.mdl-grid {
  max-width: 1024px;
  margin: auto;
}
.mdl-layout__header-row {
  padding: 0;
}
.quickstart-user-details-container {
  margin-top: 20px;
  line-height: 25px;
}
#quickstart-sign-in-status {
  font-weight: bold;
}
pre {
  overflow-x: scroll;
  line-height: 18px;
}
code {
  white-space: pre-wrap;
  word-break: break-all;
}
h3 {
  background: url('/firebase-logo.png') no-repeat;
  background-size: 40px;
  padding-left: 50px;
  color: white;
 
}


.demo-card-wide.mdl-card {
  width: 90%;
}

.chatBox{
  width: 90%;
  
  margin: 3px 5px 3px 5px;  

}


.SendBox{

  width: 90%;
  margin: auto 5px 3px 5px;  

}
#imavatar{
  border-radius: 500px 500px 500px 500px;
    border: 5px solid white;
    width: 30%;
}


.back-to-top{
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background: #7f8c8d;
  height: 50px;
  width: 50px;
  display: inline-block;
  text-align: center;
  line-height: 60px;
  font-size: 30px;
  font-family: Times New Roman;
  position: fixed;;
  bottom: 30px;
  right: 30px;
}